@import "./Root.css";

.nav {
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  position: fixed;
  left: 40px;
  width: 80px;
  object-fit: contain;
}
